<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Welcome!</h1>

<p>Click <a th:href="@{/students}">here</a> to see a greeting.</p>
<h1>Below is the information had been Authenticated</h1>
<div sec:authorize="isAuthenticated()">you had been signed in as User:<span th:text="${#authentication.name}"></span> </div>
<div sec:authorize="isAuthenticated()">you Roles are: <span th:text="${#authentication.authorities}"></span></div>

</body>
</html>